* {
    margin: 0;
    padding: 0;
}

.main-div {
    width: 100%;
    height: 100vh;
    background-color: plum;
    display: flex;

}

.signup-image {
    width: 40%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-img {
    width: 60%;
    /* Set width for image */
    height: auto;
    /* Maintain aspect ratio */
}

.signup-form {
    width: 60%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.signup-form form {
    width: 80%;
    height: 95%;
    margin-left: 70px;
    padding-top: 30px;
    background-color: white;
    box-shadow: 2px 2px 250px rgb(201, 215, 227);
    border-radius: 20px;
}

.signupInput {
    width: 400px;
    border: 2px solid gainsboro;
    height: 40px;
    margin-left: 100px;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
}

label{
    color: rgb(201, 215, 227) !important;
    margin-left: 100px !important;
}

button{
    width: 180px !important;
    height: 40px;
    border-radius: 100px;
    margin-left: 230px !important;
    border: 2px solid gainsboro;
    font-size: 20px;
    color: gray !important;
}