* {
    margin: 0;
    padding: 0;
}

.main-div {
    width: 100%;
    height: 100vh;
    background-color: plum;
    display: flex;

}

.signin-image {
    width: 40%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-img {
    width: 60%;
    height: auto;
}

.signin-form {
    width: 60%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.signin-form form {
    width: 80%;
    height: 60%;
    margin-left: 70px;
    padding-top: 50px;
    background-color: white;
    box-shadow: 30px 30px 300px rgb(201, 215, 227);
    border-radius: 20px;
}

.signinInput {
    width: 400px;
    border: 2px solid gainsboro;
    height: 40px;
    margin-left: 100px !important;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
}

label {
    color: rgb(201, 215, 227);
    margin-left: 130px;
}

button {
    width: 300px;
    height: 40px;
    border-radius: 100px;
    margin-left: 170px;
    border: 2px solid gainsboro;
    font-size: 20px;
    color: gray ;
    margin-top: 20px;
}
.error-message{
    position: relative;
    top: 140px;
    left: -270px;
}
/* .signin-form form{
    
} */