.user-main-div {
    width: 100%;
    height: 276vh;
    display: flex;
    flex-direction: column;
}

.post-ad {
    width: 100%;
    height: 240vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.post-ad-table {
    width: 80%;
    height: 235vh;
    border: 1px solid black;
    padding-top: 40px;
}

.postNow {
    background-color: #002F34;
    color: #FFFFFF !important;
    width: 160px;
    height: 55px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 40px !important;
}

.select-Category {
    border-bottom: 1px solid black;
    height: 110px;
}

.include-detail {
    border-bottom: 1px solid black;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.include-detail input {
    border: 1px solid black;
    height: 50px;
    border-radius: 5px;
    width: 900px;
    margin-top: 5px;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
}

.title {
    margin-left: -840px;
    margin-top: 20px;
    font-size: 16px;
}

.details {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -30px;
    outline: none;
}

.description {
    margin-left: -810px;
    margin-top: 40px;

}

.condition {
    margin-left: -820px;
    margin-top: 40px;

}

.textArea {
    border: 1px solid black;
    height: 160px;
    border-radius: 5px;
    width: 900px;
    font-size: 16px;
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 5px;
    outline: none;
}

.set-price {
    border-bottom: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.set-price input {
    border: 1px solid black;
    height: 50px;
    width: 900px;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

.set-price span {
    margin-left: -850px;
}

.upload-photo {
    border-bottom: 1px solid black;
    height: 250px;
}

.phoneNumber {
    border-bottom: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.file {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    margin-top: 20px;
    margin-left: 50px;
    display: flex; 
    justify-content: center;
     align-items: center;
    overflow: hidden;
}

.img-addPhoto {
    /* width: 99px;
    height: 104.5px;
    position: relative;
    top: -6px; */
    width: 60px;
    height: 60px;
   
}
.phoneNumber input {
    border: 1px solid black;
    height: 50px;
    width: 900px;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

.phoneNumber span {
    margin-left: -730px;
}

.location {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.location input {
    border: 1px solid black;
    height: 50px;
    width: 900px;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

.location span {
    margin-left: -820px;
}