/* Card.css */

.mobile-card{
    width: 25%; /* Adjusted width */
    height: 430px;
    position: relative;
    /* left: -25px; */
    display: flex;
    justify-content: flex-start;
  }
 .span{
    position: relative;
    left: 20px;
    top: 40px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .mobile-card-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap; 
    overflow-x: auto; /* Enables horizontal scrolling */
    padding-bottom: 20px; /* Optional: Space between rows */
  }