.Slider {
    width: 100%;
    height: 1000vh;
}

.categories {
    margin-top: 130px;
    width: 100%;
    height: 48px;
    background-color: white;
    box-shadow: 1px 7px 1px #F7F8F8;
}
.categories ul li{
margin-left: -15px;
}
ul {
    display: flex;
    list-style: none;
    padding: 10px;
    margin-left: 100px;
}

ul li a {
    text-decoration: none;
    color: #002F34;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 35px;
}

.image-slider {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;

}

.image-slider img {
    width: 100%;
    height: 200px;
    margin-top: 25px;
}