.All-Cards{
    width: 100%;
}
.cards-row-1{
    width: 90%;
    display: flex;
    position: relative;
    left: 100px;
    top: 60px;
    justify-content: space-around;   
}
.cards-row-2{
    width: 90%;
    display: flex;
    position: relative;
    left: 100px;
    top: -40px;
    justify-content: space-around;   
    
  

}
.All-Cards p{
    font-family: sans-serif;
    font-size: 24px;
    position: relative;
    left: 100px;
    top: 30px;
    font-weight: bold;
}
.All-Cards span{
    font-family: sans-serif;
    font-size: 16px;
}