.house-cards-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap; 
  overflow-x: auto; /* Enables horizontal scrolling */
  padding-bottom: 20px; /* Optional: Space between rows */
}

.house-card{
  width: 25%; /* Adjusted width */
  height: 430px;
  position: relative;
  /* left: -25px; */
  display: flex;
  justify-content: flex-start;
}
.house-span{
  position: relative;
  left: 20px;
  top: 40px;
  font-size: 24px;
  font-weight: bold;
}


@media screen and (max-width: 768px) {
  .house-cards-row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center !important;
    flex-direction: column;
    position: relative;
    top: 40px;
  }

  .house-card {
    width: 80%;
    height: 330px !important;
  }

  .main-card-style {
    width: 100%;
    height: auto !important;
  }
.card-style{
  width: 100%;
  height: 280px !important;
}
 .image{
  height: 150px !important;
}
.descriptio{
  line-height: 25px;
} 
.descriptio span{
  font-size: 18px !important;
  font-weight: 200 !important;
}
.p1{
overflow-y: hidden;
font-size: 22px !important;
font-weight: bold;
}
.p2{
  font-size: 12px !important;
}
}