.open-main {
    width: 100%;
    height: auto;
}

.open-card-main {
    width: 80%;
    height: 140vh;
    margin-top: 200px;
    margin-left: 100px;
    overflow-y: hidden;
}

.card-image-div {
    width: 60%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 80vh;
}

.imageCard {
    width: 60%;
    height: 65vh;
}

.price {
    margin-left: 20px;
    margin-top: 30px;
}

.description-card {
    font-size: 22px;
    margin-left: 20px;
    margin-top: 20px;
}

.location-card {
    display: flex;
    margin-top: 30px;
    margin-left: 15px;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.location-card p {
    position: relative;
    left: 10px;
}

.condition-card {
    font-size: 16px;
    margin-left: 20px;
    font-style: italic;
    margin-top: 10px;
}

.contact-card-div {
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    position: relative;
    left: 640px;
    top: -700px;
    flex-direction: column;
}

#contact-card-button {
    background-color: #002F34;
    color: #FFFFFF;
    width: 320px;
    height: 48px;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 10px;
    cursor: pointer;
    padding-left: 70px;
}

#contact-card-number {
    background-color: #002F34;
    color: #FFFFFF;
    width: 320px;
    height: 48px;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 10px;
    cursor: pointer;
    padding-left: 80px;
}
#chat-card-button {
    color: #002F34;
    border: 2px solid #002F34;
    width: 320px;
    height: 48px;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 10px;
    cursor: pointer;
    padding-left: 130px;
    margin-top: 10px;
}
.location-seprate{
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    position: relative;
    left: 640px;
    top: -640px;
    border-radius: 5px;
    
}
.location-seprate p{
    font-size: 22px;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .open-main {
        width: 100% !important;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .open-card-main {
        width: 95% !important;
        height: 1000px;
        display: flex;
        flex-direction: column;
        position: relative;
        left: -50px;
        
    }
    .card-image-div{
        width: 100%;
        height: 300px;
        position: relative;
        top: 10px;
        overflow-y: hidden;
    }
    .card-des-div{
        width: 100% !important;
        height: 300px !important;
    }
    .contact-card-div{
        width: 100%;
        height: 170px;
        position: relative;
        top: 40px;
        left: 0px;
    }
    .contact-card-div span{
        width: 100% !important;
        height: 50px;
    }
    .location-seprate{
       display: none;
    }
    
}